.chat-room {
    display: flex;
    height: 500px;
    border: 1px solid rgba(159, 183, 197, 0.2);
    border-radius: 8px;
    overflow: hidden;
  }
  .invite {
    font-size: 20px;
    margin-bottom: 8px;
  }
  
 
  
  .messages-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    padding: 30px;
    background-color: coral;
  }
  
  
  


